*,
::before,
::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   /* background-image: conic-gradient(from 36deg at 20% 80%, #fff 0% 25%, #d7d3d3 25% 30%, purple 30% 50%); */
}


html{
    font-size: 65.5%;
    
}

.max{
    margin-top: 7rem;
}

body{
    min-height: 100vh;
}